:root {
	// font-size
	font-size: 16px;

	// line-height
	line-height: 1.4;

	// font
	--font: 'Roboto', sans-serif;

	// color
	--wh: #fff;
	--bl: #000;
}

body {
	font-family: var(--font);
	background: var(--wh);
}

