---
title: Index Page
---
extends layouts/_layout
block content
    .container
        h1 h1
        h2 h2
        h3 h3
        h4 h4
        h5 h5
        h6 h6
        a(href="#" class="btn") кнопка

        //- menu
        ul.menu
            li
                a(href="#") Menu item
            li
                a(href="#") Menu item
                ul.submenu
                    li
                        a(href="#") Menu item
                    li
                        a(href="#") Menu item
                    li
                        a(href="#") Menu item
            li
                a(href="#") Menu item
            li
                a(href="#") Menu item