---
title: Index Page
---
extends layouts/_layout
block content
    .container
        h1 h1
        h2 h2
        h3 h3
        h4 h4
        h5 h5
        h6 h6
        a(href="#" class="btn") кнопка

        //- menu
        ul.nav-items
                li.nav-item
                    a(href="#") меню 1
                li.nav-item
                    a(href="#") меню 2
                //- Dropdown menu
                li.nav-item.nav-item-dropdown
                    a(class="dropdown-trigger" href="#") меню дроп
                        ul.dropdown-menu
                            li.dropdown-menu-item
                                a(href="#") меню 1
                            li.dropdown-menu-item
                                a(href="#") меню 2
                            li.dropdown-menu-item
                                a(href="#") меню 3
                li.nav-item
                    a(href="#") меню 3
                li.nav-item
                    a(href="#") меню 4